In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import TimeSeriesSplit, GridSearchCV
from sklearn.ensemble import RandomForestClassifier

import sys
from pathlib import Path

project_root = Path.cwd().parent.parent
sys.path.append(str(project_root))
from ingest.ohlcv.queries import load_ohlcv
from ingest.ohlcv.utils import get_ibex_tickers, get_macro_tickers
from models.trees.features import build_features

In [ ]:
micro = get_ibex_tickers()
df_micro = load_ohlcv(micro)
# Some days have 0 volume e.g on Christmas (API errors)
df_micro = df_micro[df_micro["volume"] > 0]
print(df_micro.head(1))

macro = get_macro_tickers()
df_macro = load_ohlcv(macro)
# Same here (although VIX has no volume) #FIX IBEX TOO DOESNT HAVE VOLUME MOST OF  TIME
df_macro = df_macro[~(
    ((#df_macro["ticker"] == "^IBEX") & (df_macro["volume"] == 0)) |
    ((df_macro["ticker"] == "^GSPC") & (df_macro["volume"] == 0))
)]
print(df_macro.head(1))

   ticker       date      open      high       low     close    volume
0  ACS.MC 2006-01-02  8.884718  9.038241  8.835722  8.966379  772525.0
  ticker       date         open         high         low        close  \
0  ^GSPC 2006-01-03  1248.290039  1270.219971  1245.73999  1268.800049

         volume
0  2.554570e+09

In [3]:
print(df_micro.info())
print(df_macro.info())

<class 'pandas.core.frame.DataFrame'>
Index: 126939 entries, 0 to 127045
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ticker  126939 non-null  object
 1   date    126939 non-null  datetime64[ns]
 2   open    126939 non-null  float64
 3   high    126939 non-null  float64
 4   low     126939 non-null  float64
 5   close   126939 non-null  float64
 6   volume  126939 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 7.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
Index: 15183 entries, 0 to 15235
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ticker  15183 non-null  object
 1   date    15183 non-null  datetime64[ns]
 2   open    15183 non-null  float64
 3   high    15183 non-null  float64
 4   low     15183 non-null  float64
 5   close   15183 non-null  float64
 6   volume  15183 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 948.9+ KB
None

In [ ]:
from models.trees.features import macro_features

df = macro_features(df_macro)
df.shape
df.tail(150)

c:\Users\alexd\Documents\TFG_inversion_bolsa\models\trees\features_new.py:187: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  macro["vix_chg_1"] = macro["vix_close"].pct_change()

ticker,date,sp_close,ibx_close,vix_close,ibx_log_ret_1,ibx_vol_10,ibx_vol_60,ibx_vol_ratio_10_60,sp_log_ret_1,sp_vol_20,sp_vol_100,sp_vol_ratio_20_100,vix_chg_1,vix_chg_z_5,vix_pctile_250
5032,2025-07-03,6279.350098,14182.900391,16.379999,0.009799,0.008515,NaN,NaN,0.008304,NaN,NaN,NaN,-0.015625,-0.875484,NaN
5033,2025-07-04,NaN,13973.000000,NaN,-0.014910,0.010040,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN
5034,2025-07-07,6229.979980,14074.799805,17.790001,0.007259,0.010212,NaN,NaN,NaN,NaN,NaN,NaN,0.086081,2.062372,NaN
5035,2025-07-08,6225.520020,14079.500000,16.809999,0.000334,0.009243,NaN,NaN,-0.000716,NaN,NaN,NaN,-0.055087,-1.059529,NaN
5036,2025-07-09,6263.259766,14254.400391,15.940000,0.012346,0.007928,NaN,NaN,0.006044,NaN,NaN,NaN,-0.051755,-0.904286,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5177,2026-01-28,6978.029785,NaN,16.350000,NaN,NaN,NaN,NaN,-0.000082,0.006755,0.007173,0.941760,0.000000,0.000000,NaN
5178,2026-01-29,6969.009766,NaN,16.879999,NaN,NaN,NaN,NaN,-0.001293,0.006754,0.007165,0.942617,0.032416,2.222649,NaN
5179,2026-01-30,6939.029785,NaN,17.440001,NaN,NaN,NaN,NaN,-0.004311,0.006598,0.007182,0.918724,0.033175,2.115675,NaN
5180,2026-02-02,6976.439941,NaN,16.340000,NaN,NaN,NaN,NaN,0.005377,0.006677,0.007194,0.928120,-0.063073,-1.597102,NaN
5181,2026-02-03,6917.810059,NaN,18.000000,NaN,NaN,NaN,NaN,-0.008439,0.006854,0.007248,0.945603,0.101591,1.700126,NaN

In [4]:
print(df_micro.describe())
print(df_macro.describe())

                                date           open           high  \
count                         126939  126939.000000  126939.000000
mean   2016-10-15 09:20:35.279937536      17.017770      17.246200
min              2006-01-02 00:00:00       0.194999       0.202737
25%              2012-01-10 00:00:00       3.252324       3.292067
50%              2017-02-10 00:00:00       6.675954       6.754276
75%              2021-09-22 00:00:00      15.910677      16.062241
max              2026-02-03 00:00:00    1394.518603    1419.652436
std                              NaN      57.963333      58.971171

                 low          close        volume
count  126939.000000  126939.000000  1.269390e+05
mean       16.758923      17.001881  1.091891e+07
min         0.193452       0.197011  1.730000e+02
25%         3.207860       3.252095  7.029240e+05
50%         6.595791       6.673171  1.935579e+06
75%        15.737675      15.904120  8.505541e+06
max      1297.631995    1365.330933  9.487686e+08
std        56.692173      57.835214  2.707775e+07
                                date          open          high  \
count                          15183  15183.000000  15183.000000
mean   2016-01-06 03:52:38.980438784   4266.447517   4295.721353
min              2006-01-02 00:00:00      9.010000      9.310000
25%              2011-01-05 00:00:00     22.634999     23.740000
50%              2016-01-07 00:00:00   2091.750000   2100.719971
75%              2021-01-07 00:00:00   8714.950195   8784.995549
max              2026-02-03 00:00:00  16636.699219  16661.500000
std                              NaN   4533.780332   4564.210852

                low         close        volume
count  15183.000000  15183.000000  1.518300e+04
mean    4232.886322   4265.793228  1.394026e+09
min        8.560000      9.140000  0.000000e+00
25%       21.530001     22.485000  0.000000e+00
50%     2082.929932   2091.689941  1.579190e+08
75%     8639.150391   8712.745605  3.320480e+09
max    16574.099609  16615.800781  1.145623e+10
std     4498.475527   4533.157153  1.980827e+09

In [5]:
df_final = build_features(df_micro, df_macro, horizon=1)

c:\Users\alexd\Documents\TFG_inversion_bolsa\models\trees\features_new.py:187: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  macro["vix_chg_1"] = macro["vix_close"].pct_change()

In [ ]:
from models.trees.features import safe_build_features

df_final = safe_build_features(df_micro, horizon=1)

In [7]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126939 entries, 0 to 126938
Data columns (total 50 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ticker           126939 non-null  object
 1   date             126939 non-null  datetime64[ns]
 2   open             126939 non-null  float64
 3   high             126939 non-null  float64
 4   low              126939 non-null  float64
 5   close            126939 non-null  float64
 6   volume           126939 non-null  float64
 7   log_ret_1        126909 non-null  float64
 8   log_ret_3        126849 non-null  float64
 9   log_ret_5        126789 non-null  float64
 10  log_ret_10       126639 non-null  float64
 11  log_ret_20       126342 non-null  float64
 12  ret_mean_5       126789 non-null  float64
 13  vol_5            126789 non-null  float64
 14  vol_10           126639 non-null  float64
 15  vol_20           126342 non-null  float64
 16  vol_ratio_5_20   126342 non-null  float64
 17  atr_14           126549 non-null  float64
 18  atr_pct          126549 non-null  float64
 19  sma_5            126819 non-null  float64
 20  ema_5            126939 non-null  float64
 21  sma_10           126669 non-null  float64
 22  ema_10           126939 non-null  float64
 23  sma_20           126371 non-null  float64
 24  ema_20           126939 non-null  float64
 25  sma_50           125501 non-null  float64
 26  ema_50           126939 non-null  float64
 27  sma_ratio_5_20   126371 non-null  float64
 28  sma_ratio_10_50  125501 non-null  float64
 29  ema_ratio_5_20   126939 non-null  float64
 30  slope_10         126669 non-null  float64
 31  slope_20         126371 non-null  float64
 32  dist_high_10     126669 non-null  float64
 33  dist_low_10      126669 non-null  float64
 34  dist_high_20     126371 non-null  float64
 35  dist_low_20      126371 non-null  float64
 36  rsi_14           126519 non-null  float64
 37  stoch_k          126549 non-null  float64
 38  volu_mean_5      126819 non-null  float64
 39  volu_ratio_5     126819 non-null  float64
 40  volu_mean_20     126371 non-null  float64
 41  volu_ratio_20    126371 non-null  float64
 42  volu_ret_1       126819 non-null  float64
 43  body             126939 non-null  float64
 44  upper_wick       126939 non-null  float64
 45  lower_wick       126939 non-null  float64
 46  true_range_pct   126939 non-null  float64
 47  gap              126909 non-null  float64
 48  future_log_ret   126909 non-null  float64
 49  target           126939 non-null  int64
dtypes: datetime64[ns](1), float64(47), int64(1), object(1)
memory usage: 48.4+ MB

In [9]:
# Handle Nan / inf -> divisions  (especially from early rows)
"""  
Cross-sectional fill
X = (
    X
    .groupby(micro_features["date"])
    .transform(lambda x: x.fillna(x.median()))
)

"""
remove_cols = ["ticker","date","open","high","low","close","ibx_close", "sp_close", "vix_close", "volume","target","future_log_ret"]
#X = df_final.drop(columns=remove_cols)
X = df_final
cols = X.columns
print(X.shape)
print(X.head(20)) 
print(len(cols), cols)
X = X.replace([np.inf, -np.inf], np.nan)
"""
cross_cols = ["ibx_breadth","ibx_breadth_10d"]
X[cross_cols] = X.groupby(df_final["date"])[cross_cols].transform(lambda x: x.fillna(x.median()))
micro_cols = X.columns.difference(cross_cols)
X[micro_cols] = X[micro_cols].groupby(df_final["ticker"]).apply(lambda x: x.dropna())
mask = X.notna().all(axis=1)
X = X[mask]
y = y[mask]
"""
mask = X.notna().all(axis=1)
X = X[mask]
print(X.shape) 

y = df_final["target"]
y = y[mask]

(126939, 50)
    ticker       date      open      high       low     close     volume  \
0   ACS.MC 2006-01-02  8.884718  9.038241  8.835722  8.966379   772525.0
1   ACS.MC 2006-01-03  8.982714  9.038243  8.966381  9.012112  1205927.0
2   ACS.MC 2006-01-04  9.080707  9.080707  8.963115  9.012112  1324707.0
3   ACS.MC 2006-01-05  9.038243  9.038243  8.963115  8.982714  1448718.0
4   ACS.MC 2006-01-09  8.982709  9.005574  8.943511  9.002307  7665279.0
5   ACS.MC 2006-01-10  8.999044  9.012109  8.936981  8.976178  8219878.0
6   ACS.MC 2006-01-11  8.976175  9.123165  8.976175  9.123165  1187792.0
7   ACS.MC 2006-01-12  9.070904  9.159098  9.070904  9.149299  1926726.0
8   ACS.MC 2006-01-13  9.162365  9.175431  9.064372  9.080704  3773883.0
9   ACS.MC 2006-01-16  9.081467  9.081467  9.028821  9.068305  1675277.0
10  ACS.MC 2006-01-17  8.982759  9.032114  8.933403  8.949855  2760942.0
11  ACS.MC 2006-01-18  8.887338  8.887338  8.759013  8.870886  3211432.0
12  ACS.MC 2006-01-19  8.884049  8.982760  8.877468  8.972889  3657403.0
13  ACS.MC 2006-01-20  8.949856  9.041987  8.933404  9.009083  2396872.0
14  ACS.MC 2006-01-23  8.854435  8.907081  8.801788  8.884048  5324261.0
15  ACS.MC 2006-01-24  8.851142  8.966306  8.851142  8.966306  3874741.0
16  ACS.MC 2006-01-25  8.982757  9.025532  8.933401  9.025532  1071489.0
17  ACS.MC 2006-01-26  9.015661  9.226246  9.015661  9.222956  2478531.0
18  ACS.MC 2006-01-27  9.245991  9.344702  9.229539  9.321670   758180.0
19  ACS.MC 2006-01-30  9.269020  9.357861  9.232826  9.311795  1019535.0

    log_ret_1  log_ret_3  log_ret_5  ...  volu_mean_20  volu_ratio_20  \
0         NaN        NaN        NaN  ...           NaN            NaN
1    0.005087        NaN        NaN  ...           NaN            NaN
2    0.000000        NaN        NaN  ...           NaN            NaN
3   -0.003267   0.001820        NaN  ...           NaN            NaN
4    0.002179  -0.001089        NaN  ...           NaN            NaN
5   -0.002907  -0.003995   0.001092  ...           NaN            NaN
6    0.016243   0.015515   0.012247  ...           NaN            NaN
7    0.002860   0.016196   0.015108  ...           NaN            NaN
8   -0.007526   0.011577   0.010850  ...           NaN            NaN
9   -0.001366  -0.006031   0.007304  ...           NaN            NaN
10  -0.013148  -0.022040  -0.002937  ...           NaN            NaN
11  -0.008863  -0.023377  -0.028042  ...           NaN            NaN
12   0.011433  -0.010578  -0.019470  ...           NaN            NaN
13   0.004026   0.006596  -0.007918  ...           NaN            NaN
14  -0.013976   0.001483  -0.020528  ...           NaN            NaN
15   0.009216  -0.000734   0.001836  ...           NaN            NaN
16   0.006584   0.001824   0.017283  ...           NaN            NaN
17   0.021638   0.037438   0.027488  ...           NaN            NaN
18   0.010646   0.038868   0.034108  ...           NaN            NaN
19  -0.001060   0.031224   0.047025  ...     2787704.9       0.365726

    volu_ret_1      body  upper_wick  lower_wick  true_range_pct  \
0          NaN  0.009191    0.008088    0.005515        0.022587
1          NaN  0.003273    0.002909    0.001818        0.007974
2          NaN  0.007554    0.000000    0.005396        0.013048
3          NaN  0.006144    0.000000    0.002168        0.008364
4     0.006725  0.002182    0.000364    0.004364        0.006894
5    -0.006014  0.002541    0.001452    0.004356        0.008370
6     0.004861  0.016376    0.000000    0.000000        0.016112
7     0.001348  0.008642    0.001080    0.000000        0.009639
8    -0.006235  0.008913    0.001426    0.001783        0.012230
9    -0.000682  0.001449    0.000000    0.004348        0.005806
10   -0.016027  0.003663    0.005494    0.001831        0.015073
11   -0.010661  0.001851    0.000000    0.012588        0.021513
12    0.013865  0.010000    0.001111    0.000741        0.012468
13    0.003521  0.006618    0.003676    0.001838        0.012053
14   -0.021443  0.003345    0.002601    0.005946        0.023333
15    0.009670  0.013011    0.000000    0.000000        0.012844
16    0.002161  0.004762    0.000000    0.005494        0.010208
17    0.017705  0.022993    0.000365    0.000000        0.022833
18    0.002988  0.008185    0.002491    0.001779        0.013061
19   -0.000587  0.004615    0.004970    0.003905        0.013428

             gap  future_log_ret  target
0            NaN        0.005087       1
1   1.821792e-03        0.000000       0
2   7.611457e-03       -0.003267       0
3   2.899568e-03        0.002179       1
4  -5.516859e-07       -0.002907       0
5  -3.624911e-04        0.016243       1
6  -3.298477e-07        0.002860       1
7  -5.728401e-03       -0.007526       0
8   1.428135e-03       -0.001366       0
9   8.404240e-05       -0.013148       0
10 -9.433559e-03       -0.008863       0
11 -6.985266e-03        0.011433       1
12  1.483846e-03        0.004026       1
13 -2.566963e-03       -0.013976       0
14 -1.716580e-02        0.009216       1
15 -3.704004e-03        0.006584       1
16  1.834760e-03        0.021638       1
17 -1.093626e-03        0.010646       1
18  2.497580e-03       -0.001060       0
19 -5.648061e-03        0.012292       1

[20 rows x 50 columns]
50 Index(['ticker', 'date', 'open', 'high', 'low', 'close', 'volume', 'log_ret_1',
       'log_ret_3', 'log_ret_5', 'log_ret_10', 'log_ret_20', 'ret_mean_5',
       'vol_5', 'vol_10', 'vol_20', 'vol_ratio_5_20', 'atr_14', 'atr_pct',
       'sma_5', 'ema_5', 'sma_10', 'ema_10', 'sma_20', 'ema_20', 'sma_50',
       'ema_50', 'sma_ratio_5_20', 'sma_ratio_10_50', 'ema_ratio_5_20',
       'slope_10', 'slope_20', 'dist_high_10', 'dist_low_10', 'dist_high_20',
       'dist_low_20', 'rsi_14', 'stoch_k', 'volu_mean_5', 'volu_ratio_5',
       'volu_mean_20', 'volu_ratio_20', 'volu_ret_1', 'body', 'upper_wick',
       'lower_wick', 'true_range_pct', 'gap', 'future_log_ret', 'target'],
      dtype='object')
(125472, 50)

In [11]:
print(df_final.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126939 entries, 0 to 126938
Data columns (total 66 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ticker               126939 non-null  object
 1   date                 126939 non-null  datetime64[ns]
 2   open                 126939 non-null  float64
 3   high                 126939 non-null  float64
 4   low                  126939 non-null  float64
 5   close                126939 non-null  float64
 6   volume               126939 non-null  float64
 7   log_ret_1            126909 non-null  float64
 8   log_ret_3            126849 non-null  float64
 9   log_ret_5            126789 non-null  float64
 10  log_ret_10           126639 non-null  float64
 11  log_ret_20           126342 non-null  float64
 12  ret_mean_5           126789 non-null  float64
 13  vol_5                126789 non-null  float64
 14  vol_10               126639 non-null  float64
 15  vol_20               126342 non-null  float64
 16  vol_ratio_5_20       126342 non-null  float64
 17  atr_14               126549 non-null  float64
 18  atr_pct              126549 non-null  float64
 19  sma_5                126819 non-null  float64
 20  ema_5                126939 non-null  float64
 21  sma_10               126669 non-null  float64
 22  ema_10               126939 non-null  float64
 23  sma_20               126371 non-null  float64
 24  ema_20               126939 non-null  float64
 25  sma_50               125501 non-null  float64
 26  ema_50               126939 non-null  float64
 27  sma_ratio_5_20       126371 non-null  float64
 28  sma_ratio_10_50      125501 non-null  float64
 29  ema_ratio_5_20       126939 non-null  float64
 30  slope_10             126669 non-null  float64
 31  slope_20             126371 non-null  float64
 32  dist_high_10         126669 non-null  float64
 33  dist_low_10          126669 non-null  float64
 34  dist_high_20         126371 non-null  float64
 35  dist_low_20          126371 non-null  float64
 36  rsi_14               126519 non-null  float64
 37  stoch_k              126549 non-null  float64
 38  volu_mean_5          126819 non-null  float64
 39  volu_ratio_5         126819 non-null  float64
 40  volu_mean_20         126371 non-null  float64
 41  volu_ratio_20        126371 non-null  float64
 42  volu_ret_1           126819 non-null  float64
 43  body                 126939 non-null  float64
 44  upper_wick           126939 non-null  float64
 45  lower_wick           126939 non-null  float64
 46  true_range_pct       126939 non-null  float64
 47  gap                  126909 non-null  float64
 48  sp_close             123590 non-null  float64
 49  ibx_close            125406 non-null  float64
 50  vix_close            123618 non-null  float64
 51  ibx_log_ret_1        124098 non-null  float64
 52  ibx_vol_10           113149 non-null  float64
 53  ibx_vol_60           68551 non-null   float64
 54  ibx_vol_ratio_10_60  68551 non-null   float64
 55  sp_log_ret_1         120393 non-null  float64
 56  sp_vol_20            63866 non-null   float64
 57  sp_vol_100           210 non-null     float64
 58  sp_vol_ratio_20_100  210 non-null     float64
 59  vix_chg_1            126774 non-null  float64
 60  vix_chg_z_5          126724 non-null  float64
 61  vix_pctile_250       0 non-null       float64
 62  future_log_ret       126909 non-null  float64
 63  target               126939 non-null  int64
 64  ibx_breadth          126939 non-null  float64
 65  ibx_breadth_10d      126930 non-null  float64
dtypes: datetime64[ns](1), float64(63), int64(1), object(1)
memory usage: 63.9+ MB
None

In [9]:
X

Empty DataFrame
Columns: [log_ret_1, log_ret_3, log_ret_5, log_ret_10, log_ret_20, ret_mean_5, vol_5, vol_10, vol_20, vol_ratio_5_20, atr_14, atr_pct, sma_5, ema_5, sma_10, ema_10, sma_20, ema_20, sma_50, ema_50, sma_ratio_5_20, sma_ratio_10_50, ema_ratio_5_20, slope_10, slope_20, dist_high_10, dist_low_10, dist_high_20, dist_low_20, rsi_14, stoch_k, volu_mean_5, volu_ratio_5, volu_mean_20, volu_ratio_20, volu_ret_1, body, upper_wick, lower_wick, true_range_pct, gap, ibx_log_ret_1, ibx_vol_10, ibx_vol_60, ibx_vol_ratio_10_60, sp_log_ret_1, sp_vol_20, sp_vol_100, sp_vol_ratio_20_100, vix_chg_1, vix_chg_z_5, vix_pctile_250, ibx_breadth, ibx_breadth_10d]
Index: []

[0 rows x 54 columns]

In [13]:
assert not X.isna().any().any()
assert np.isfinite(X.to_numpy()).all()

0.5 * LightGBM
0.3 * CatBoost
0.2 * XGBoost

In [ ]:
tscv = TimeSeriesSplit(n_splits=5)


param_grid = {
    "n_estimators": [300, 600],
    "max_depth": [5, 7, 10],
    "max_features": ["sqrt", 0.5],
    "min_samples_leaf": [1, 5, 10],

}

model = RandomForestClassifier()

search = GridSearchCV(
    model,
    param_grid,
    cv=tscv,
    scoring="accuracy",
)

for train_index, test_index in outer_forward_roll:
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]

    search.fit(X_train, y_train) 
    best_model = search.best_estimator_

    preds = best_model.predict(X_test)

In [ ]:
## PROPER IMPLEEMNTION NO TIME DATA LEAKAGE
from sklearn.model_selection import TimeSeriesSplit

H = 7
dates = df_feat["date"].sort_values().unique()

tscv = TimeSeriesSplit(n_splits=5)

for fold, (train_idx, test_idx) in enumerate(tscv.split(dates)):
    train_dates = dates[train_idx]
    test_dates  = dates[test_idx]

    # PURGE to avoid horizon leakage
    test_dates = test_dates[H:]

    train_mask = df_feat["date"].isin(train_dates)
    test_mask  = df_feat["date"].isin(test_dates)

    X_train = X[train_mask]
    y_train = y[train_mask]
    X_test  = X[test_mask]
    y_test  = y[test_mask]

    print(f"Fold {fold}:",
          train_dates[0], "→", train_dates[-1],
          "| test:", test_dates[0], "→", test_dates[-1])